* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: whitesmoke;
  color: #11151c;
}

/*Header*/

header {
  background-color: red;
}

.header-default {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-family: 'Playwrite NO', cursive;
  font-optical-sizing: auto;
  font-size: 3rem;
  font-weight: bolder;
  font-style: normal;
  color: #7d5ba6;
  margin: 0;
}

/* Recipe List */

.post-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}

.recipe-card {
  display: flex;
  flex-direction: column;
}

.recipe-form {
  display: flex;
  flex-direction: column;
}

.submit-button {
  width: 20%;
  padding: 0.5em 1.25em;
  border-radius: 10px;
}

.submit-button:enabled {
  color: whitesmoke;
  background-color: blueviolet;
  font-size: 1rem;
  font-weight: bolder;
}

.likes-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.like-btn {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.like-btn:disabled {
  cursor: default;
  opacity: 0.6;
}

.like-img {
  width: 22px;
  height: auto;
  display: block;
}

/* Recipe Modal */

.modal-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3b3a3a;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.recipe-modal {
  background: whitesmoke;
  padding: 1em;
  border-radius: 8px;
  width: 66%;
  height: 66%;
  overflow-y: auto;
  position: relative;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* New Recipe Banner */
.recipe-banner {
  padding: 10px;
  background-color: #E8998D;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.recipe-msg {
  font-size: 1.35rem;
  font-weight: bold;
}

.user-id-banner {
  letter-spacing: .75px;
  font-weight: 400;
}

.banner-recipe-title {
  font-size: 2rem;
  font-weight: bolder;
  letter-spacing: .75px;
  color: #1F5673;
}

.see-new-recipe-btn {
  padding: 8px;
  font-size: 1.25rem;
  background-color: #92B9BD;
  color: #1F5673;
  font-weight: bolder;
  border: 1.6px solid rgb(92, 91, 91);
  border-radius: 3px;
}

.see-new-recipe-btn:hover {
  background-color: #799fa3;
  cursor: pointer;
}

.see-new-recipe-btn:active {
  background-color: #d0edf2;
  transform: scale(0.97);
}