body {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: whitesmoke;
  color: #11151c;
  padding: 0 0.75em;
}

/*Header*/

header {
  background-color: red;
}

.header-default {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-family: 'Playwrite NO', cursive;
  font-optical-sizing: auto;
  font-size: 3rem;
  font-weight: bolder;
  font-style: normal;
  color: #7d5ba6;
  margin: 0;
}

/* Recipe List */

.post-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}

.recipe-card {
  display: flex;
  flex-direction: column;
}

.recipe-form {
  display: flex;
  flex-direction: column;
}

.submit-button {
  width: 20%;
  padding: 0.5em 1.25em;
  border-radius: 10px;
}

.submit-button:enabled {
  color: whitesmoke;
  background-color: blueviolet;
  font-size: 1rem;
  font-weight: bolder;
}

.likes-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.like-btn {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.like-btn:disabled {
  cursor: default;
  opacity: 0.6;
}

.like-img {
  width: 22px;
  height: auto;
  display: block;
}

/* Recipe Modal */

.modal-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3b3a3a;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.recipe-modal {
  background: whitesmoke;
  padding: 1em;
  border-radius: 8px;
  width: 66%;
  height: 66%;
  overflow-y: auto;
  position: relative;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
}
